<!DOCTYPE html>
<head>
	<title>Target Language</title>
</head>
<body>
	<div class="Language">
    		<div class="Language">
      			<select id="languageSelector" onchange="selectLanguage()" style="border: none; background-color: transparent; color: black; font-size: large">
        			<option value="" disabled selected>Select language (To):</option>
				{% for code, name in supported_languages.items() %}
                        		<option value="{{ code }}">{{ name }}</option>	
				{% endfor %}
      			</select>
    		</div>
  	</div>
</body>
</html>
