<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/scripts/general.js?{{ cache_id }}"></script>
    <script src="../static/scripts/page_links.js?{{ cache_id }}"></script>
    <script src="../static/scripts/my_account.js?{{ cache_id }}"></script>
    <script src="../static/scripts/footer.js?{{ cache_id }}"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css?{{ cache_id }}">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js?{{ cache_id }}"></script>
  <link rel="stylesheet" href="../static/styles/my_account.css?{{ cache_id }}"/>
  <link rel="shortcut icon" href="../static/images/logo.png?{{ cache_id }}"/>
</head>
<body>
  <header style="display: flex; justify-content: space-between; align-items: center; background-color: lightgrey; padding: 10px;">
    <div class="logo">
      <img src="../static/images/logo.png" alt="Logo">
    </div>
    <div class="header-container" style="display: flex; align-items: center;">
      <div class="search-container" style="margin-right: 10px;">
        <form action="/action_page.php">
          <input class="search-input" type="text" placeholder="Search...">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="dropdown">
  	<button onclick="myFunction()" class="dropbtn">My Account</button>
  	<div id="myDropdown" class="dropdown-content">
    		<a href="my_account.html">My Account</a>
    		<a href="index.html">Logout</a>		
  	</div>
      </div>
    </div>
</header>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="about_us.html">About us</a>
  <a href="translations.html">Translations</a>
  <a href="privacy_terms.html">Privacy&Terms</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
<div id="main">
  <h2>My Account</h2>
  <div class="tab">
    <button class="tablinks" onclick="openAccount(event, 'History')">Translations History</button>
    <button class="tablinks" onclick="openAccount(event, 'Settings')">Settings</button>
    <button class="tablinks" onclick="openAccount(event, 'Subscription')">Subscription</button>
</div>
  </div>

  <div id="History" class="tabcontent">
    <h3>Translations History</h3>
      <table id="translationHistoryTable">
        <tr>
            <th>Date</th>
            <th>Source Text</th>
            <th>Translated Text</th>
            <th>Language</th>
            <th>Type</th>
        </tr>
        <tr>
		<td>{{ translation.created_at }}</td>
            	<td>{{ translation.input_text }}</td>
            	<td>{{ translation.translated_text }}</td>
            	<td>{{ translation.target_lang }}</td>
            	<td>{{ translation.type }}</td>
        </tr>
	{% endfor %}
    </table>
</div>
<div id="Settings" class="tabcontent">
      <h3>Settings</h3>
      <form>
        <label for="target-languages">Target Languages:</label><br>
        <input type="text" id="target-languages" name="target_languages" value="{{ translation_settings.target_languages }}"><br><br>

        <label for="default-language">Default Language:</label><br>
        <input type="text" id="default-language" name="default_language" value="{{ translation_settings.default_language }}"><br><br>

        <input type="submit" value="Save Settings">
      </form>
</div>
<div id="Subscription" class="tabcontent">
  <h3 style="text-align: center">Subscription Plan</h3>
  <p style="text-align:center">Upgrade to start your 14 days free trial. You can cancel your trial anytime before your trial ends.</p>
<div class="price_columns">
  <ul class="price">
    <li class="header">Basic</li>
    <li class="grey">$ 9.99 / year</li>
    <li>10GB Storage</li>
    <li>50 Emails(image or document)</li>
    <li>15 website translations</li>
    <li class="grey"><a href="my_account.html" class="price_button" style="background-color: rgb(54, 123, 180);">Current plan<li>
  </ul>
</div>
<div class="price_columns">
  <ul class="price">
    <li class="header" style="background-color: rgba(0,0,0,0.2);">Pro</li>
    <li class="grey">$ 24.99 / year</li>
    <li>25GB Storage</li>
    <li>100 Emails(image or document)</li>
    <li>30 Websites</li>
    <li class="grey"><a href="payment.html" class="price_button">Upgrade</a></li>
  </ul>
</div>
<div class="price_columns">
  <ul class="price">
    <li class="header" style="background-color: rgba(0,0,0,0.2);">Premium</li>
    <li class="grey">$ 39.99 / year</li>
    <li>50GB Storage</li>
    <li>200 Emails(images or documents)</li>
    <li>50 Websites </li>
    <li class="grey"><a href="payment.html" class="price_button">Upgrade</a></li>
  </ul>
</div>
</div>
</div>
</div>
<footer class="footer">
      <div class="quick-links">
        <h4 class="quick-links-heading">Quick links</h4>
        <a href="privacy_terms.html">Terms of Service</a>
        <a href="privacy_terms.html">Privacy Policy</a>
        <a href="contact.html">Contact</a>
      </div>
      <div class="social-bar">
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="newsletter-form">
        <div class="subscription-text">
          <h4 style="color: black">Subscribe to our newsletter for updates</h4>
          <input type="checkbox" id="daily-newsletter" name="daily-newsletter">
          <label for="daily-newsletter">Receive daily newsletter</label>
        </div>
        <input type="email" class="newsletter-input" placeholder="Your email address">
	<button class="newsletter-submit" type="submit"><a href="/subscribe" style="text-decoration: none; color: white;">Subscribe</a></button>
      </div>
      <div class="copyright">
          © 2023 Universal Translation Service. All rights reserved.</p>
      </div>
</footer>
</body>
</html>
