<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/images/logo.png">
	</head>
	<body>
		<div id="History" class="tabcontent">
			<h3>Translations History</h3>
				<table id="translationHistoryTable">
					<tr>
            					<th>Date</th>
            					<th>Source Text</th>
            					<th>Translated Text</th>
            					<th>Target Language</th>
            					<th>Type</th>
        				</tr>
        				{% for translation in translations %}
        				<tr>
            					<td>{{ translation.created_at }}</td>
            					<td>{{ translation.input_text }}</td>
            					<td>{{ translation.translated_text }}</td>
            					<td>{{ translation.target_lang }}</td>
            					<td>{{ translation.type }}</td>
        				</tr>
        				{% endfor %}
    				</table>
		</div>
	</body>
</html>

