<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Feedback</title>
	</head>
	<body>
		<div class="feedback-popup" id="myForm">
			  <form class="form-container" method="POST" action="/feedback">
				<h1 style="color: black">Send us feedback</h1>
				<label for="feedbackInput"><b>Describe your feedback</b></label>
				<textarea id="feedbackInput" name="feedback" placeholder="Type your feedback here" style="height: 40%; color:black" required></textarea>
				<button type="submit" class="btn">Submit</button>
				<button type="button" class="btn cancel" style="background-color: red;" onclick="closeForm()">Close</button>
			   </form>
		</div>
	</body>
</html>
