<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Universal Translation Services</title>
</head>
<body>
  <div class="container">
    <h1>Universal Language Translations</h1>
    <form id="text-translation-form" action="/translations/text" method="POST">
	    <h2>Text Translation</h2>
	    
	    <label for="text">Text to Translate:</label>
	    <input type="text" id="text" name="text">

	    <label for="source-language">Source Language:</label>
	    <select id="source-language" name="source-lang">
		    {% for language in supported_languages %}
		    <option value="{{ language.code }}">{{ language.name }}</option>
		    {% endfor %}
	    </select>

	    <label for="target-language">Target Language:</label>
	    <select id="target-language" name="target-lang">
		    {% for language in supported_languages %}
		    <option value="{{ language.code }}">{{ language.name }}</option>
		    {% endfor %}
	    </select>
	    <button type="submit">Translate</button>

	    <div class="translation-result">
		    <h3>Translation Result:</h3>
		    <pre id="text-translation-result"></pre>
	    </div>
    </form>

    <form id="document-translation-form" action="/translations/document" method="POST">
	    <h2>Document Translation</h2>

	    <label for="document">Select Document:</label>
	    <input type="file" id="document"  name="file">

	    <label for="source-language-doc">Source Language:</label>
	    <select id="source-language-doc" name="source-lang">
		    {% for language in supported_languages %}
		    <option value="{{ language.code }}">{{ language.name }}</option>
		    {% endfor %}
	    </select>
	    <label for="target-language-doc">Target Language:</label>
	    <select id="target-language-doc" name="target-lang">
		    {% for language in supported_languages %}
		    <option value="{{ language.code }}">{{ language.name }}</option>
		    {% endfor %}
	    </select>

	    <button type="submit">Translate</button>

	    <div class="translation-result">
		    <h3>Translation Result:</h3>
		    <pre id="text-translation-result"></pre>
	    </div>
    </form>

    <form id="Image-translation-form" action="/translations/image" method="POST">
	    <h2>Image Translation</h2>

	    <label for="image">Select Image:</label>
	    <input type="file" id="image" name="file">

	    <label for="source-language-img">Source Language:</label>
	    <select id="source-language-img" name="source-lang">
		    {% for language in supported_languages %}
		    <option value="{{ language.code }}">{{ language.name }}</option>
		    {% endfor %}
	    </select>
	    <label for="target-language-img">Target Language:</label>
	    <select id="target-language-img" name="target-lang">
		    {% for language in supported_languages %}
		    <option value="{{ language.code }}">{{ language.name }}</option>
		    {% endfor %}
	    </select>
	    <button type="submit">Translate</button>

	    <div class="translation-result">
		    <h3>Translation Result:</h3>
		    <img id="image-translation-result" alt="Translated Image">
	    </div>
    </form>

    <form id="website-translation-form" action="/translations/website" method="POST">
	    <h2>Website Translation</h2>

	    <label for="website-url">Website URL:</label>
	    <input type="text" id="website-url" name="website-url" placeholder="https://www.example.com">
	    
	    <label for="source-language-web">Source Language:</label>
	    <select id="source-language-web" name="source-lang">
		    {% for language in supported_languages %}
		    <option value="{{ language.code }}">{{ language.name }}</option>
		    {% endfor %}
	    </select>

	    <label for="target-language-web">Target Language:</label>
	    <select id="target-language-web" name="target-lang">
		    {% for language in supported_languages %}
		    <option value="{{ language.code }}">{{ language.name }}</option>
		    {% endfor %}
	    </select>
	    <button type="submit">Translate</button>

	    <div class="translation-result">
		    <h3>Translation Result:</h3>
		    <iframe id="website-translation-result" frameborder="0" width="100%" height="500"></iframe>
	    </div>
    </form>
    <form id="language-detection-form" action="/translations/detection" method="POST">
	    <h2>Language Detection</h2>

	    <label for="text-lang-detect">Text to Detect:</label>
	    <input type="text" id="text-lang-detect" name="text">

	    <button type="submit">Detect Language</button>
	    <div class="translation-result">
		    <h3>Language Detection Result:</h3>
		    <pre id="language-detection-result"></pre>
	    </div>
    </form>
    <form id="feedback-form" action="/translations/feedback/" method="POST">
	    <h2>Send Feedback</h2>
	    <label for="feedback-name">Your Name: </label>
	    <input type="text" id="feedback-name" name="name">

	    <label for="feedback-email">Your Email:</label>
	    <input type="email" id="feedback-email" name="email">

	    <label for="feedback-message">Feedback Message:</label>
	    <textarea id="feedback-message" name="message"></textarea>

	    <button type="submit">Submit Feedback</button>

    
	<script>
		function TranslateText() {
			// Code to handle text translation
		}

		function translateDocument() {
			// Code to handle document translation
		}

		function TranslateImage() {
			// Code to handle image translation
		}

		function translateWebsite() {
			//Code to handle website translation
		}

	</script>
  </div>
</body>
</html>
